body {
    font-size: 16px;
    color: black;
    /*background-color: #00CCFF;*/
    background-image: linear-gradient(150deg, white, #7ED9F7, #00CCFF, #0689B3);
    font-family: 'Oxygen', sans-serif;
    /* border-bottom: 2px solid black; */
  }
  /********** Large devices only **********/
  @media (min-width: 1200px) {
  
  }
  
  /********** Medium devices only **********/
  @media (min-width: 992px) and (max-width: 1199px) {
  
  
  }
  