body {
    font-size: 16px;
    color: black;
    /*background-color: #00CCFF;*/
    background-image: linear-gradient(white, #7ED9F7, #00CCFF, #0689B3);
    font-family: 'Oxygen', sans-serif;
  }
  
  /** HEADER **/
  .container{
      display:flex;
      flex-direction: row;
      width: 100%;
      height: 90px;
      background-color: #041171;
  }
  .left-name{
      background-color: #041171;
      width: 50%;
      font-family: 'Lora', serif;
      color: #00CCFF;
      font-size: 2.2em;
      text-transform: uppercase;
      font-weight: bold;
      text-shadow: 1px 1px 1px #222;
      margin-top: 10px;
      margin-bottom: 0;
      line-height: .75;
      margin-left: 190px;
      margin-top: 35px;
  }
  .pasclogo{
      background-color: #041171;
      width: 50%;
  }
  #pasclogo1{
      width: 150px;
      margin-left: 300px;
  }
  /* END HEADER */
  
  /* BODY */
  
  /*LEFT PART*/
  
  #leftPart {
    width: 60%;
    display: inline-block;
    /*border: 10px solid green;*/
    padding: 40px;
    padding-top: 10px;
    padding-left: 60px;
    margin: 40px;
    margin-left: 0;
    margin-right: 0;
    margin-top: 10px;
  }
  #heading {
    position: relative;
    margin-top: 0px;
    text-align: center;
    margin-left: 70px;
    margin-bottom: 20px;
    font-size: 2em;
    font-family: 'Lora', serif;
    color: #041171;
    font-weight: bold;
    text-shadow: 1px 1px 1px black;
  }
  #timer {
    text-align: center; 
    margin-left: 670px;
    margin-bottom: 2px;
    background-color: yellow;
    color: red;
    width: 160px;
    height: 40px;
    font-size: 20px;
    font-weight: bold;
  }
  #question {
    width: 100%;
    border: 20px #00CCFF;
    background-color: white;
    padding: 50px;
    padding-top: 20px;
    padding-bottom: 20px;
    margin: 20px;
    margin-top: 20px;
    margin-bottom: 10px;
  }

  #option1:hover, #option2:hover, #option3:hover, #option4:hover, #option1:focus {
    box-shadow: 0 1px 5px 1px #041171;
    background-color:silver;
  }
  #option1 {
   
    border-radius: 25px;
    width: 30%;
    color: black;
    border: 2px;
    padding: 50px;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-left: 20px;
    margin: 20px;
    margin-top: 10px;
  }
  #option2 {

    border-radius: 25px;
    width: 30%;
    border: 2px #00CCFF;
    background-color: white;
    padding: 50px;
    padding-top: 20px;
    padding-bottom: 20px;
    margin: 20px;
    margin-left: 280px;
    margin-right: 0px;
    margin-top: 10px;
  }
  #option3 {

    border-radius: 25px;
    width: 30%;
    border: 2px #00CCFF;
    background-color: white;
    padding: 50px;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-left: 0;
    margin: 20px;
    margin-top: 10px;
  }
  #option4 {

    border-radius: 25px;
    width: 30%;
    border: 2px #00CCFF;
    background-color: white;
    padding: 50px;
    padding-top: 20px;
    padding-bottom: 20px;
    margin: 20px;
    margin-right: 0px;
    margin-left: 280px;
    margin-top: 10px;
  }
  #submit_op {
    margin-top: 20px;
    color: white;
    font-weight: bold;
  }
  #prev_que {
    margin-left: 20px;
    background-color: #041171;
  }
  #next_que {
    margin-left: 10px;
    background-color: #041171;
  }
  #pin_que {
    width: 150px;
    height: 50px;
    background-color: purple;
    margin-left: 180px;
  }
  #savennext {
    margin-left: 10px;
    margin-right: 0px;
    width: 150px;
    height: 50px;
    background-color: green;
  }
  
  /*END LEFT PART*/
  /* START OF RIGHT PART */
  
  h1{ 
    color: #396; 
    font-weight: 50; 
    font-size: 20px; 
    margin: 20px 0px 20px; 
  } 
  #timeleft{
      margin-left: 50px;
      margin-top: 20px;
      margin-bottom: 20px;
      display: inline-block;
      font-size: 1.5em;
    
      font-weight: bold;
  
  }
  #clockdiv{ 
      font-family: sans-serif; 
      color: #fff; 
      display: block; 
      font-weight: 50; 
      text-align: center; 
      font-size: 20px; 
  } 
  #clockdiv > div{ 
      padding: 10px; 
      border-radius: 3px; 
      background: #00BF96; 
      display: inline-block; 
  } 
  #clockdiv div > span{ 
      padding: 10px; 
      border-radius: 3px; 
      background: #00816A; 
      display: inline-block; 
  } 
  .smalltext{ 
      padding-top: 3px; 
      font-size: 10px; 
  } 
  
  .header {
    text-align: center;
    background: #1abc9c;
    color: white;
  }
  
  .Right
  {
    height: 100%;
    display: inline-block;
    width: 30%;
    position: absolute;
    right: 0;
    margin-bottom: 50px;
    
  
    /* padding-top: 10px;
    margin-top:-22px; */
  }
  .Option
  {
    padding-left: 15%;
  }
  h1{
    text-align:center;
  }
  
  h2{
    text-align:left;
  }
  
  
  .button {
    border: none;
    color: white;
    padding: 1px 3px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 5px 5px;
    transition-duration: 0.4s;
    cursor: pointer;
  }
  
  .button1 {
    background-color: white;
    color: black;
    border: 2px solid #4CAF50;
  }
  
  .button1:hover {
    background-color: #4CAF50;
    color: white;
      
  }
  
  .button2 {
    background-color: white;
    color: black;
    border: 2px solid #008CBA;
    height: 40px;
    width: 40px;
  }
  
  .button2:hover {
    background-color: #008CBA;
    color: white;
  }
  
  .button3 {
    background-color: white;
    color: black;
    border: 2px solid #008CBA;
    height: 40px;
    width: 40px;
  }
  
  .button3:hover {
    background-color: #008CBA;
    color: white;
  }
  /* END OF RIGHT PART */
  
  /*END BODY*/
  
  /* FOOTER */
  .footer{
      background-image: linear-gradient(white, #7ED9F7, #00CCFF, #0689B3);
      width: 100%;
      height: 90px;
  }
  .bottom{
    margin-top: 5%;
    width: 100%;
    margin: auto;
    display: flex;
    flex-direction: column;
    text-align: center;
    font-size: large;
    font-style: initial;
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }
  /* END FOOTER */
  
  
  
  /********** Large devices only **********/
  @media (min-width: 1200px) {
  
  }
  
  /********** Medium devices only **********/
  @media (min-width: 992px) and (max-width: 1199px) {
  
  
  }
  